App_WebReferences/ExamServer/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StudentLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStudentEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStudentPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentDetailsResult" type="tns:WebStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebStudent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StudentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StudentDepartmentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentDepartmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intQuestionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestionResult" type="tns:Question" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Question">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QuestionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ModuleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionTypeID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartExam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intExam" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartExamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartExamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndExam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndExamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EndExamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objAnswer" type="tns:Result_Answer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result_Answer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultAnswerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultAnswerText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AnswerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertAnswerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModules">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intSubject" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModulesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExamsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intExamID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfQuestionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnswers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intQuestionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnswersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnswersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteName">
        <s:complexType />
      </s:element>
      <s:element name="GetSiteNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StudentLoginSoapIn">
    <wsdl:part name="parameters" element="tns:StudentLogin" />
  </wsdl:message>
  <wsdl:message name="StudentLoginSoapOut">
    <wsdl:part name="parameters" element="tns:StudentLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentDetails" />
  </wsdl:message>
  <wsdl:message name="GetStudentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="GetQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="StartExamSoapIn">
    <wsdl:part name="parameters" element="tns:StartExam" />
  </wsdl:message>
  <wsdl:message name="StartExamSoapOut">
    <wsdl:part name="parameters" element="tns:StartExamResponse" />
  </wsdl:message>
  <wsdl:message name="EndExamSoapIn">
    <wsdl:part name="parameters" element="tns:EndExam" />
  </wsdl:message>
  <wsdl:message name="EndExamSoapOut">
    <wsdl:part name="parameters" element="tns:EndExamResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAnswer" />
  </wsdl:message>
  <wsdl:message name="InsertAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="GetSubjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetModulesSoapIn">
    <wsdl:part name="parameters" element="tns:GetModules" />
  </wsdl:message>
  <wsdl:message name="GetModulesSoapOut">
    <wsdl:part name="parameters" element="tns:GetModulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetExamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetExams" />
  </wsdl:message>
  <wsdl:message name="GetExamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetExamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfQuestions" />
  </wsdl:message>
  <wsdl:message name="GetListOfQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnswersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAnswers" />
  </wsdl:message>
  <wsdl:message name="GetAnswersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteName" />
  </wsdl:message>
  <wsdl:message name="GetSiteNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteNameResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="StudentLogin">
      <wsdl:input message="tns:StudentLoginSoapIn" />
      <wsdl:output message="tns:StudentLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDetails">
      <wsdl:input message="tns:GetStudentDetailsSoapIn" />
      <wsdl:output message="tns:GetStudentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input message="tns:GetQuestionSoapIn" />
      <wsdl:output message="tns:GetQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartExam">
      <wsdl:input message="tns:StartExamSoapIn" />
      <wsdl:output message="tns:StartExamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndExam">
      <wsdl:input message="tns:EndExamSoapIn" />
      <wsdl:output message="tns:EndExamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnswer">
      <wsdl:input message="tns:InsertAnswerSoapIn" />
      <wsdl:output message="tns:InsertAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input message="tns:GetSubjectsSoapIn" />
      <wsdl:output message="tns:GetSubjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <wsdl:input message="tns:GetModulesSoapIn" />
      <wsdl:output message="tns:GetModulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExams">
      <wsdl:input message="tns:GetExamsSoapIn" />
      <wsdl:output message="tns:GetExamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfQuestions">
      <wsdl:input message="tns:GetListOfQuestionsSoapIn" />
      <wsdl:output message="tns:GetListOfQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <wsdl:input message="tns:GetAnswersSoapIn" />
      <wsdl:output message="tns:GetAnswersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteName">
      <wsdl:input message="tns:GetSiteNameSoapIn" />
      <wsdl:output message="tns:GetSiteNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentLogin">
      <soap:operation soapAction="http://tempuri.org/StudentLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDetails">
      <soap:operation soapAction="http://tempuri.org/GetStudentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap:operation soapAction="http://tempuri.org/GetQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartExam">
      <soap:operation soapAction="http://tempuri.org/StartExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndExam">
      <soap:operation soapAction="http://tempuri.org/EndExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnswer">
      <soap:operation soapAction="http://tempuri.org/InsertAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <soap:operation soapAction="http://tempuri.org/GetModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExams">
      <soap:operation soapAction="http://tempuri.org/GetExams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfQuestions">
      <soap:operation soapAction="http://tempuri.org/GetListOfQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <soap:operation soapAction="http://tempuri.org/GetAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteName">
      <soap:operation soapAction="http://tempuri.org/GetSiteName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentLogin">
      <soap12:operation soapAction="http://tempuri.org/StudentLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDetails">
      <soap12:operation soapAction="http://tempuri.org/GetStudentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartExam">
      <soap12:operation soapAction="http://tempuri.org/StartExam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndExam">
      <soap12:operation soapAction="http://tempuri.org/EndExam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnswer">
      <soap12:operation soapAction="http://tempuri.org/InsertAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap12:operation soapAction="http://tempuri.org/GetSubjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <soap12:operation soapAction="http://tempuri.org/GetModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExams">
      <soap12:operation soapAction="http://tempuri.org/GetExams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfQuestions">
      <soap12:operation soapAction="http://tempuri.org/GetListOfQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <soap12:operation soapAction="http://tempuri.org/GetAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteName">
      <soap12:operation soapAction="http://tempuri.org/GetSiteName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50076/Network/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50076/Network/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>